<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Tabster.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <Tabster.Properties.Settings>
      <setting name="StartupUpdate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClientState" serializeAs="String">
        <value>Maximized</value>
      </setting>
      <setting name="ToolbarDock" serializeAs="String">
        <value>Top</value>
      </setting>
      <setting name="ClientSize" serializeAs="String">
        <value>1024, 625</value>
      </setting>
      <setting name="SearchPreviewOrientation" serializeAs="String">
        <value>Horizontal</value>
      </setting>
      <setting name="LibraryPreviewOrientation" serializeAs="String">
        <value>Horizontal</value>
      </setting>
      <setting name="LibraryPreviewPanelDistance" serializeAs="String">
        <value>365</value>
      </setting>
      <setting name="SearchPreviewPanelDistance" serializeAs="String">
        <value>365</value>
      </setting>
      <setting name="DisabledPlugins" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
        </value>
      </setting>
      <setting name="ProxyAddress" serializeAs="String">
        <value/>
      </setting>
      <setting name="ProxyUsername" serializeAs="String">
        <value/>
      </setting>
      <setting name="ProxyPassword" serializeAs="String">
        <value/>
      </setting>
      <setting name="ProxyConfig" serializeAs="String">
        <value>None</value>
      </setting>
    </Tabster.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
